In [22]:
import pandas as pd
import numpy as np

In [8]:
may = pd.read_pickle('../data/may.pkl')
june = pd.read_pickle('../data/june.pkl')
july = pd.read_pickle('../data/july.pkl')

MAY HEAD AND TAIL

In [12]:
may.head(10)

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,93.0,0
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,35.0,0
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,90.0,0
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,88.0,0
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,98.0,0
5,2019-05-01 00:01:41.247,36.157188,-86.769978,Powered3F3VK,82.0,0
6,2019-05-01 00:01:41.247,36.154348,-86.784765,PoweredVL7YG,56.0,0
7,2019-05-01 00:01:41.247,36.158930,-86.775987,Powered5LNUG,100.0,0
8,2019-05-01 00:01:41.247,36.135993,-86.804226,Powered7SPQQ,85.0,0
9,2019-05-01 00:01:41.247,36.148938,-86.811256,PoweredBV1DT,65.0,0

In [13]:
may.tail(10)

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
20292493,2019-05-31 23:58:27.243,36.122375,-86.775722,PoweredHICJ5XYHBAW5I,60.0,3
20292494,2019-05-31 23:58:27.243,36.121613,-86.775351,PoweredXZH7USFBU76DX,94.0,3
20292495,2019-05-31 23:58:27.243,36.120440,-86.777199,PoweredSZAWEG5FWAI6V,56.0,3
20292496,2019-05-31 23:58:27.243,36.121584,-86.775493,PoweredU6FP6ZXZ6JRTC,94.0,3
20292497,2019-05-31 23:58:43.000,36.147400,-86.811700,Poweredf0c59838-3392-5ea9-9a8f-d680bc8ac344,71.0,5
20292498,2019-05-31 23:59:42.000,36.163900,-86.782300,Poweredbb60ef04-c719-597f-805f-20978964fd8c,49.0,5
20292499,2019-05-31 23:59:42.000,36.160600,-86.776800,Powered9f5743ed-7f81-539b-9e37-6503d54445d3,68.0,5
20292500,2019-05-31 23:59:42.000,36.160600,-86.776900,Powered5744d1db-3bbe-55e5-9a23-a93828ba54fc,53.0,5
20292501,2019-05-31 23:59:42.000,36.162400,-86.774500,Poweredad1d6d3b-162a-5bec-bffd-cac4ac8dee1c,42.0,5
20292502,2019-05-31 23:59:42.000,36.151900,-86.798500,Powered8505008e-97c9-5003-8975-2ea6b2634fa0,76.0,5

In [18]:
company0 = may.loc[may['sumdid'] == 'PoweredLIRL1']

In [19]:
company0

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,93.0,0
2694,2019-05-01 00:06:41.537,36.136822,-86.799877,PoweredLIRL1,93.0,0
26176,2019-05-01 01:01:43.917,36.136751,-86.799921,PoweredLIRL1,92.0,0
28812,2019-05-01 01:06:44.237,36.136751,-86.799921,PoweredLIRL1,92.0,0
30726,2019-05-01 01:11:44.167,36.136751,-86.799921,PoweredLIRL1,92.0,0
...,...,...,...,...,...,...
20209588,2019-05-31 22:00:15.960,36.191117,-86.781360,PoweredLIRL1,53.0,0
20213207,2019-05-31 22:05:16.080,36.191117,-86.781360,PoweredLIRL1,53.0,0
20216631,2019-05-31 22:10:16.483,36.191096,-86.781369,PoweredLIRL1,53.0,0
20220463,2019-05-31 22:15:16.653,36.191096,-86.781369,PoweredLIRL1,53.0,0
20224154,2019-05-31 22:20:16.737,36.191122,-86.781343,PoweredLIRL1,53.0,0

In [20]:
company3 = may.loc[may['sumdid'] == 'PoweredHICJ5XYHBAW5I']

In [21]:
company3

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
10776408,2019-05-21 19:34:20.533,36.157848,-86.745538,PoweredHICJ5XYHBAW5I,100.0,3
10779060,2019-05-21 19:39:20.587,36.157848,-86.745538,PoweredHICJ5XYHBAW5I,100.0,3
10781739,2019-05-21 19:44:20.607,36.157848,-86.745538,PoweredHICJ5XYHBAW5I,100.0,3
10784422,2019-05-21 19:49:20.703,36.157848,-86.745538,PoweredHICJ5XYHBAW5I,100.0,3
10787121,2019-05-21 19:54:21.250,36.157848,-86.745538,PoweredHICJ5XYHBAW5I,100.0,3
...,...,...,...,...,...,...
20278584,2019-05-31 23:38:26.590,36.122363,-86.775700,PoweredHICJ5XYHBAW5I,61.0,3
20282117,2019-05-31 23:43:26.657,36.122420,-86.775706,PoweredHICJ5XYHBAW5I,61.0,3
20285579,2019-05-31 23:48:26.883,36.122420,-86.775706,PoweredHICJ5XYHBAW5I,61.0,3
20289019,2019-05-31 23:53:27.207,36.122375,-86.775722,PoweredHICJ5XYHBAW5I,60.0,3
20292493,2019-05-31 23:58:27.243,36.122375,-86.775722,PoweredHICJ5XYHBAW5I,60.0,3

NUMBER OF UNIQUE SCOOTERS - MAY

In [24]:
unique_may = may.nunique()

unique_may

pubdatetime    3075812
latitude        105691
longitude       125679
sumdid            8303
chargelevel        885
companyname          7
dtype: int64

In [25]:
unique_june = june.nunique()

unique_june

pubdatetime    3154087
latitude        108248
longitude       128608
sumdid            7822
chargelevel        851
companyname          7
dtype: int64

In [26]:
unique_july = july.nunique()

unique_july

pubdatetime    2944872
latitude         98479
longitude       116020
sumdid            6787
chargelevel        795
companyname          7
dtype: int64