In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np

In [2]:
july = pd.read_pickle('../data/july.pkl')
julytrip = pd.read_csv('../data/july_trip.csv')

In [3]:
july.head()

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
0,2019-07-01 00:00:33.550,36.156678,-86.809004,Powered635135,22.0,1
1,2019-07-01 00:00:34.973,36.145674,-86.794138,Powered790946,33.0,1
2,2019-07-01 00:00:41.183,36.179319,-86.751538,Powered570380,76.0,1
3,2019-07-01 00:00:41.620,36.152111,-86.803821,Powered240631,43.0,1
4,2019-07-01 00:00:45.087,36.149355,-86.797550,Powered970404,52.0,1

In [4]:
july.tail()

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
25075440,2019-07-31 23:59:57,36.162420,-86.779314,Powered-1a8321d0-5c21-04a4-bd7d-7b96ba51f17b,100.00,6
25075441,2019-07-31 23:59:57,36.146010,-86.810197,Powered-bd4ba83b-513f-ed5c-3c51-b4f51e7fdc51,100.00,6
25075442,2019-07-31 23:59:57,36.165837,-86.777765,Powered-cc9c0b7e-2b9e-def9-e48b-1a8a489c4daf,71.68,6
25075443,2019-07-31 23:59:57,36.149792,-86.806818,Powered-55a7ac02-7e17-bb3b-130d-b160d9776405,0.00,6
25075444,2019-07-31 23:59:57,36.162644,-86.779345,Powered-03be23ca-d43b-222f-be54-e44b5b4690df,100.00,6

In [5]:
july.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25066524 entries, 0 to 25075444
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  datetime64[ns]
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   chargelevel  float64
 5   companyname  int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 1.3+ GB

july is 3 million rows smaller than june, even though the month is longer and should have more data as a result ...

In [6]:
july['sumdid'].value_counts()

PoweredK7VBEW7S2VHPG                           8915
PoweredSMYDSCUCCKE3D                           8910
PoweredCPBMGOVZOHE4Z                           8909
Powered9aab034f-6a15-503f-9b5e-6c18b7eca95c    8901
Powered91917748-6725-57e8-8476-4495b5c5f0cc    8901
                                               ...
Powered5WF3M                                      1
Powered6EPAKQB4QHWJF                              1
Powered2045928                                    1
PoweredC7EZRZTYAREOS                              1
Powered3ZPZ7                                      1
Name: sumdid, Length: 6787, dtype: int64

there are even fewer scooters in july than in june - down another 1035.  more tourists in the summer, but fewer students?

In [7]:
july['companyname'].value_counts()

5    10367575
0     3702282
3     3233573
1     2890233
2     1933513
4     1750581
6     1188767
Name: companyname, dtype: int64

company 5 is at the top again.  
company 3 slid down another spot in data entry.  
company 0 moved up a spot

In [8]:
july_company_group = july.groupby("companyname")
july_scooter_company = july_company_group.agg({"sumdid": "nunique"})
print(july_scooter_company)

             sumdid
companyname
0              2583
1              1026
2               224
3               902
4               570
5              1206
6               276

company 0 dropped another 327;
company 1 dropped another 126; 
company 2 gained 1 scooter;
company 3 dropped another 553;
company 4 dropped 143;
company 5 gained 170 scooters;
company 6 dropped another 57 scooters

In [9]:
july.isnull().sum()

pubdatetime      0
latitude         0
longitude        0
sumdid           0
chargelevel    202
companyname      0
dtype: int64

In [10]:
july_nullcharge_company= july.chargelevel.isnull().groupby(july.companyname).sum()
print(july_nullcharge_company)

companyname
0      0
1      0
2      0
3      0
4      0
5      0
6    202
Name: chargelevel, dtype: int64

company 6 has all the nulls again

In [11]:
july.groupby("sumdid").filter(lambda x: len(x) == 1)

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
1767252,2019-07-03 00:16:40.223,36.157689,-86.780898,PoweredC7EZRZTYAREOS,20.0,3
4342700,2019-07-05 21:29:12.997,36.158526,-86.768371,PoweredCPHMRCMZUUDRA,0.0,3
5286939,2019-07-07 00:05:09.727,36.156435,-86.780193,Powered6TPOZJO4U6WGE,55.0,3
9275444,2019-07-11 18:54:46.290,36.147753,-86.740528,Powered2045928,36.0,4
12982124,2019-07-16 10:28:54.357,36.151911,-86.781074,PoweredMMQC4MGMOH675,51.0,3
15955523,2019-07-20 01:52:17.300,36.159918,-86.773954,Powered6EPAKQB4QHWJF,34.0,3
18907914,2019-07-24 01:40:37.453,36.169105,-86.786400,PoweredBHQPF4NGORWCW,46.0,3
20679436,2019-07-26 11:12:13.690,36.147950,-86.740510,Powered4314410,100.0,4
21662119,2019-07-27 17:05:23.127,36.158738,-86.768364,PoweredA9GT8,99.0,0
23165398,2019-07-29 16:31:47.630,36.158474,-86.768241,Powered3ZPZ7,23.0,0
24972252,2019-07-31 21:18:13.167,36.073140,-86.797854,Powered5WF3M,77.0,0

11 scooters this time with just 1 entry - companies 3 and 4 the biggest offenders yet again

repeating what i learned in may and applying to july

In [12]:
july['dates'] = pd.to_datetime(july['pubdatetime']).dt.date
july['times'] = pd.to_datetime(july['pubdatetime']).dt.time
july['hours'] = pd.to_datetime(july['pubdatetime']).dt.hour

In [13]:
july.head()

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname,dates,times,hours
0,2019-07-01 00:00:33.550,36.156678,-86.809004,Powered635135,22.0,1,2019-07-01,00:00:33.550000,0
1,2019-07-01 00:00:34.973,36.145674,-86.794138,Powered790946,33.0,1,2019-07-01,00:00:34.973000,0
2,2019-07-01 00:00:41.183,36.179319,-86.751538,Powered570380,76.0,1,2019-07-01,00:00:41.183000,0
3,2019-07-01 00:00:41.620,36.152111,-86.803821,Powered240631,43.0,1,2019-07-01,00:00:41.620000,0
4,2019-07-01 00:00:45.087,36.149355,-86.797550,Powered970404,52.0,1,2019-07-01,00:00:45.087000,0

In [14]:
#july.loc[july["dates"]== datetime.date(2019, 7, 1)]
#to filter my df by a date

In [15]:
#july.loc[july["hours"]==(7)]
#to look at a specific hour window

In [16]:
#july.loc[(july['hours'] > 6) & (july['hours'] < 10)]
#a range of time - the morning commute

#NOW TO LOOK AT THE TRIPS DF

In [17]:
julytrip.head()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-07-01 00:02:52.213000,Bird,BRD5179,PoweredZSHKJ,2.0,0.0,2019-07-01 00:00:00,00:01:32.290000,2019-07-01 00:00:00,00:03:55.966666,36.1775,-86.7516,36.1778,-86.7514,"[[36.177438,-86.751861],[36.177425,-86.751987]...",2019-07-02 05:30:18.333000
1,2019-07-01 00:02:52.213000,Bird,BRD5177,Powered22JF6,0.0,0.0,2019-07-01 00:00:00,00:02:38.640000,2019-07-01 00:00:00,00:02:54.406666,36.1627,-86.7711,36.1627,-86.7711,"[[36.162718,-86.771102],[36.162718,-86.771102]]",2019-07-02 05:30:18.273000
2,2019-07-01 00:02:52.213000,Bird,BRD5176,Powered22JF6,1.0,0.0,2019-07-01 00:00:00,00:03:04.333333,2019-07-01 00:00:00,00:03:37.680000,36.1627,-86.7713,36.1627,-86.7713,"[[36.162734,-86.77122],[36.162706,-86.771325],...",2019-07-02 05:30:18.243000
3,2019-07-01 00:02:52.213000,Bird,BRD5178,PoweredIB2CC,1.0,0.0,2019-07-01 00:00:00,00:02:06.963333,2019-07-01 00:00:00,00:03:25.766666,36.1525,-86.7988,36.1525,-86.7988,"[[36.152499,-86.798708]]",2019-07-02 05:30:18.303000
4,2019-07-01 00:02:52.213000,Bird,BRD5180,PoweredW4G7R,2.0,0.0,2019-07-01 00:00:00,00:01:19.843333,2019-07-01 00:00:00,00:02:53.976666,36.1578,-86.7760,36.1575,-86.7758,"[[36.157523,-86.775794]]",2019-07-02 05:30:18.363000

In [18]:
julytrip.tail()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
134921,2019-08-01 04:53:48,JUMP,JMP3,Powered5614e4fc-1971-5e5c-a545-0fd88cd3331d,17.497950,7075.2,2019-07-31 00:00:00,23:47:43,2019-08-01 00:00:00,00:05:13,36.154633,-86.798340,36.149220,-86.813980,"[[""36.154631"",""-86.798341""],[""36.154631"",""-86....",2019-08-02 08:21:27.127000
134922,2019-08-01 04:53:48,JUMP,JMP2,Powereda4712099-5e55-5332-996c-d6e5c910535d,3.154917,1320.0,2019-07-31 00:00:00,23:57:19,2019-08-01 00:00:00,00:00:28,36.153015,-86.783585,36.152843,-86.779594,"[[""36.153016"",""-86.783586""],[""36.153016"",""-86....",2019-08-02 08:21:26.773000
134923,2019-08-01 04:53:48,JUMP,JMP1,Poweredb8a3a269-d1ca-571f-9b2f-89b7399b5537,18.440650,7920.0,2019-07-31 00:00:00,23:41:52,2019-08-01 00:00:00,00:00:18,36.153687,-86.784580,36.164158,-86.776900,"[[""36.153685"",""-86.784578""],[""36.153685"",""-86....",2019-08-02 08:21:26.803000
134924,2019-08-01 07:04:00,JUMP,JMP35,Poweredf077a919-d569-5e70-8ca7-71d179ffacf9,142.345610,20433.6,2019-07-31 00:00:00,23:26:15,2019-08-01 00:00:00,01:48:35,36.155735,-86.775185,36.173904,-86.785450,"[[""36.155736"",""-86.775181""],[""36.155531"",""-86....",2019-08-02 08:24:21.967000
134925,2019-08-01 07:04:00,JUMP,JMP34,Powered784fcc92-bd1a-5f6a-8314-b02aa21b4bfa,209.409650,14889.6,2019-07-31 00:00:00,22:19:08,2019-08-01 00:00:00,01:48:33,36.160050,-86.776720,36.163410,-86.782100,"[[""36.160051"",""-86.77672""],[""36.160051"",""-86.7...",2019-08-02 08:24:22

In [19]:
julytrip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134926 entries, 0 to 134925
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubTimeStamp    134926 non-null  object
 1   companyName     134926 non-null  object
 2   tripRecordNum   134926 non-null  object
 3   sumdID          134926 non-null  object
 4   tripDuration    134926 non-null  float64
 5   tripDistance    134926 non-null  float64
 6   startDate       134926 non-null  object
 7   startTime       134926 non-null  object
 8   endDate         134926 non-null  object
 9   endTime         134926 non-null  object
 10  startLatitude   134926 non-null  float64
 11  startLongitude  134926 non-null  float64
 12  endLatitude     134926 non-null  float64
 13  endLongitude    134926 non-null  float64
 14  tripRoute       134926 non-null  object
 15  create_dt       134926 non-null  object
dtypes: float64(6), object(10)
memory usage: 16.5+ MB

In [20]:
julytrip.companyName.unique()

array(['Bird', 'Lyft', 'Bolt Mobility', 'SPIN', 'Lime', 'Gotcha', 'JUMP'],
      dtype=object)

In [21]:
company_dict = {'Bird':0, 'Lyft': 1, 'Gotcha': 2, 'Lime': 3, 'SPIN': 4, 'JUMP': 5, 'Bolt Mobility': 6}
julytrip.companyName = julytrip.companyName.replace(company_dict)

In [22]:
julytrip.columns

Index(['pubTimeStamp', 'companyName', 'tripRecordNum', 'sumdID',
       'tripDuration', 'tripDistance', 'startDate', 'startTime', 'endDate',
       'endTime', 'startLatitude', 'startLongitude', 'endLatitude',
       'endLongitude', 'tripRoute', 'create_dt'],
      dtype='object')

In [23]:
julytrip = julytrip.rename(columns={'pubTimeStamp':'pubdatetime', 'companyName':'companyname', 'tripRecordNum':'tripnum', 'sumdID':'sumdid','tripDuration':'tripduration', 'tripDistance':'tripdistance', 'startDate':'startdate', 'startTime':'starttime', 'endDate':'enddate', 'endTime':'endtime', 'startLatitude':'startlat', 'startLongitude':'startlong', 'endLatitude':'endlat', 'endLongitude':'endlong', 'tripRoute':'triproute'})
julytrip.head()

,pubdatetime,companyname,tripnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlat,startlong,endlat,endlong,triproute,create_dt
0,2019-07-01 00:02:52.213000,0,BRD5179,PoweredZSHKJ,2.0,0.0,2019-07-01 00:00:00,00:01:32.290000,2019-07-01 00:00:00,00:03:55.966666,36.1775,-86.7516,36.1778,-86.7514,"[[36.177438,-86.751861],[36.177425,-86.751987]...",2019-07-02 05:30:18.333000
1,2019-07-01 00:02:52.213000,0,BRD5177,Powered22JF6,0.0,0.0,2019-07-01 00:00:00,00:02:38.640000,2019-07-01 00:00:00,00:02:54.406666,36.1627,-86.7711,36.1627,-86.7711,"[[36.162718,-86.771102],[36.162718,-86.771102]]",2019-07-02 05:30:18.273000
2,2019-07-01 00:02:52.213000,0,BRD5176,Powered22JF6,1.0,0.0,2019-07-01 00:00:00,00:03:04.333333,2019-07-01 00:00:00,00:03:37.680000,36.1627,-86.7713,36.1627,-86.7713,"[[36.162734,-86.77122],[36.162706,-86.771325],...",2019-07-02 05:30:18.243000
3,2019-07-01 00:02:52.213000,0,BRD5178,PoweredIB2CC,1.0,0.0,2019-07-01 00:00:00,00:02:06.963333,2019-07-01 00:00:00,00:03:25.766666,36.1525,-86.7988,36.1525,-86.7988,"[[36.152499,-86.798708]]",2019-07-02 05:30:18.303000
4,2019-07-01 00:02:52.213000,0,BRD5180,PoweredW4G7R,2.0,0.0,2019-07-01 00:00:00,00:01:19.843333,2019-07-01 00:00:00,00:02:53.976666,36.1578,-86.7760,36.1575,-86.7758,"[[36.157523,-86.775794]]",2019-07-02 05:30:18.363000

In [24]:
julytrip.pubdatetime = pd.to_datetime(julytrip.pubdatetime)
julytrip['dates'] = pd.to_datetime(julytrip['pubdatetime']).dt.date
julytrip['times'] = pd.to_datetime(julytrip['pubdatetime']).dt.time
julytrip['hours'] = pd.to_datetime(julytrip['pubdatetime']).dt.hour
julytrip.head()

,pubdatetime,companyname,tripnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlat,startlong,endlat,endlong,triproute,create_dt,dates,times,hours
0,2019-07-01 00:02:52.213,0,BRD5179,PoweredZSHKJ,2.0,0.0,2019-07-01 00:00:00,00:01:32.290000,2019-07-01 00:00:00,00:03:55.966666,36.1775,-86.7516,36.1778,-86.7514,"[[36.177438,-86.751861],[36.177425,-86.751987]...",2019-07-02 05:30:18.333000,2019-07-01,00:02:52.213000,0
1,2019-07-01 00:02:52.213,0,BRD5177,Powered22JF6,0.0,0.0,2019-07-01 00:00:00,00:02:38.640000,2019-07-01 00:00:00,00:02:54.406666,36.1627,-86.7711,36.1627,-86.7711,"[[36.162718,-86.771102],[36.162718,-86.771102]]",2019-07-02 05:30:18.273000,2019-07-01,00:02:52.213000,0
2,2019-07-01 00:02:52.213,0,BRD5176,Powered22JF6,1.0,0.0,2019-07-01 00:00:00,00:03:04.333333,2019-07-01 00:00:00,00:03:37.680000,36.1627,-86.7713,36.1627,-86.7713,"[[36.162734,-86.77122],[36.162706,-86.771325],...",2019-07-02 05:30:18.243000,2019-07-01,00:02:52.213000,0
3,2019-07-01 00:02:52.213,0,BRD5178,PoweredIB2CC,1.0,0.0,2019-07-01 00:00:00,00:02:06.963333,2019-07-01 00:00:00,00:03:25.766666,36.1525,-86.7988,36.1525,-86.7988,"[[36.152499,-86.798708]]",2019-07-02 05:30:18.303000,2019-07-01,00:02:52.213000,0
4,2019-07-01 00:02:52.213,0,BRD5180,PoweredW4G7R,2.0,0.0,2019-07-01 00:00:00,00:01:19.843333,2019-07-01 00:00:00,00:02:53.976666,36.1578,-86.7760,36.1575,-86.7758,"[[36.157523,-86.775794]]",2019-07-02 05:30:18.363000,2019-07-01,00:02:52.213000,0

REPEATING WORK FROM MAY INTO JULY NOTEBOOK TO FIND ABANDONED SCOOTER DATA

In [25]:
julysorted = july.sort_values(['sumdid', 'pubdatetime'])

In [26]:
julysorted['latmovement'] = (julysorted.latitude.shift() - julysorted.latitude)

In [27]:
july_stationaryscooter= julysorted[julysorted['latmovement']==0.0]

In [28]:
july_stationaryscooter['lonmovement'] = (july_stationaryscooter.longitude.shift() - july_stationaryscooter.longitude)

<ipython-input-28-d6a0086e51d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  july_stationaryscooter['lonmovement'] = (july_stationaryscooter.longitude.shift() - july_stationaryscooter.longitude)

In [29]:
july_stationaryscooter = july_stationaryscooter[july_stationaryscooter['lonmovement']==0.0]

In [30]:
july_stationaryscooter.head()

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname,dates,times,hours,latmovement,lonmovement
1951476,2019-07-03 05:10:54,36.164350,-86.769388,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,99.49,6,2019-07-03,05:10:54,5,0.0,0.0
1954230,2019-07-03 05:15:54,36.164350,-86.769388,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,99.49,6,2019-07-03,05:15:54,5,0.0,0.0
2015841,2019-07-03 07:10:58,36.164349,-86.769368,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,99.49,6,2019-07-03,07:10:58,7,0.0,0.0
2089947,2019-07-03 09:41:02,36.164348,-86.769368,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,98.93,6,2019-07-03,09:41:02,9,0.0,0.0
2119236,2019-07-03 10:41:04,36.164376,-86.769374,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,98.93,6,2019-07-03,10:41:04,10,0.0,0.0

In [31]:
july_stationaryscooter['timeshift']= (july_stationaryscooter.pubdatetime - july_stationaryscooter.pubdatetime.shift())

In [32]:
july_stationaryscooter['timeshift'] = july_stationaryscooter['timeshift']/np.timedelta64(1, 's')

In [33]:
def duration(row): 
    if 240 <= row ['timeshift'] <= 360:
        return 5
    else:
        return 0

july_stationaryscooter['duration'] = july_stationaryscooter.apply(duration, axis = 1)

In [34]:
july_stationaryscooter.head(10)

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname,dates,times,hours,latmovement,lonmovement,timeshift,duration
1951476,2019-07-03 05:10:54,36.164350,-86.769388,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,99.49,6,2019-07-03,05:10:54,5,0.0,0.0,NaN,0
1954230,2019-07-03 05:15:54,36.164350,-86.769388,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,99.49,6,2019-07-03,05:15:54,5,0.0,0.0,300.0,5
2015841,2019-07-03 07:10:58,36.164349,-86.769368,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,99.49,6,2019-07-03,07:10:58,7,0.0,0.0,6904.0,0
2089947,2019-07-03 09:41:02,36.164348,-86.769368,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,98.93,6,2019-07-03,09:41:02,9,0.0,0.0,9004.0,0
2119236,2019-07-03 10:41:04,36.164376,-86.769374,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,98.93,6,2019-07-03,10:41:04,10,0.0,0.0,3602.0,0
2121880,2019-07-03 10:46:04,36.164376,-86.769374,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,98.93,6,2019-07-03,10:46:04,10,0.0,0.0,300.0,5
2188710,2019-07-03 12:46:08,36.164362,-86.769386,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,98.64,6,2019-07-03,12:46:08,12,0.0,0.0,7204.0,0
2226787,2019-07-03 13:46:10,36.164376,-86.769375,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,98.36,6,2019-07-03,13:46:10,13,0.0,0.0,3602.0,0
2289907,2019-07-03 15:16:16,36.164374,-86.769370,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,98.08,6,2019-07-03,15:16:16,15,0.0,0.0,5406.0,0
2384354,2019-07-03 17:26:20,36.164333,-86.769359,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,97.79,6,2019-07-03,17:26:20,17,0.0,0.0,7804.0,0

In [35]:
july_stationaryscooter.to_pickle("../data/july_stationaryscooter.pkl")