In [1]:
from shapely.geometry import Point
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

%matplotlib inline

In [2]:
may_trip = pd.read_csv('../data/may_trip.csv')
june_trip = pd.read_csv('../data/june_trip.csv')
july_trip = pd.read_csv('../data/july_trip.csv')

In [8]:
may_trip_clean = pd.read_csv('../data/may_trip_clean.csv')

In [5]:
promise_zones = gpd.read_file('../data/MDHA_Promise_Zones/Export_Output_5.shp')
print(promise_zones.crs)


promise_zones.head()

epsg:2274

,OBJECTID,ZONE_ID,SHAPE_STAr,SHAPE_STLe,geometry
0,1,1,1.053728e+08,49364.601403,"POLYGON ((-86.76297 36.19364, -86.76297 36.193..."
1,2,2,7.670585e+07,45226.018917,"POLYGON ((-86.77838 36.14889, -86.77823 36.148..."
2,3,3,2.985488e+08,75207.067487,"POLYGON ((-86.70771 36.16723, -86.70758 36.166..."
3,4,4,2.713638e+08,74348.596054,"POLYGON ((-86.74735 36.13036, -86.74728 36.130..."
4,5,5,3.928178e+08,106661.712102,"POLYGON ((-86.78490 36.23358, -86.78452 36.232..."

In [7]:
promise_zones = promise_zones.to_crs('EPSG:4326')
print(promise_zones.crs)

EPSG:4326

In [9]:
may_trip_clean.head()

,Unnamed: 0,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,...,endLatitude,endLongitude,tripRoute,create_dt,start,end,totaltime,seconds,hours,minutes
0,0,2019-05-01 00:00:55.423000,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01 00:00:00.000000,00:00:20.460000,2019-05-01 00:00:00.000000,...,36.15660,-86.80670,"36.157235,-86.803612,36.157235,-86.80362,36.15...",2019-05-02 05:30:23.780000,2019-05-01 00:00:20.460000,2019-05-01 00:02:52.346666,0 days 00:02:31.886666,151.886666,0,2.531444
1,1,2019-05-01 00:03:33.147000,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01 00:00:00.000000,00:01:50.090000,2019-05-01 00:00:00.000000,...,36.16054,-86.77689,"36.15797,-86.77896,36.15795,-86.77873,36.15798...",2019-05-02 07:20:32.757000,2019-05-01 00:01:50.090000,2019-05-01 00:03:33.026666,0 days 00:01:42.936666,102.936666,0,1.715611
2,2,2019-05-01 00:05:55.570000,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01 00:00:00.000000,00:03:47.363333,2019-05-01 00:00:00.000000,...,36.15650,-86.78680,"36.155068,-86.782124,36.156597,-86.78675",2019-05-02 05:30:24.530000,2019-05-01 00:03:47.363333,2019-05-01 00:07:13.596666,0 days 00:03:26.233333,206.233333,0,3.437222
3,3,2019-05-01 00:05:55.570000,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01 00:00:00.000000,00:04:21.386666,2019-05-01 00:00:00.000000,...,36.15310,-86.77960,"36.149741,-86.779344,36.149741,-86.779327,36.1...",2019-05-02 05:30:24.237000,2019-05-01 00:04:21.386666,2019-05-01 00:06:59.176666,0 days 00:02:37.790000,157.790000,0,2.629833
4,4,2019-05-01 00:05:55.570000,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01 00:00:00.000000,00:04:27.796666,2019-05-01 00:00:00.000000,...,36.17740,-86.78760,"36.177699,-86.786477,36.177711,-86.786469,36.1...",2019-05-02 05:30:24.207000,2019-05-01 00:04:27.796666,2019-05-01 00:06:23.150000,0 days 00:01:55.353334,115.353334,0,1.922556

In [12]:
type(may_trip_clean)

pandas.core.frame.DataFrame

In [13]:
may_trip_clean['geometry'] = may_trip_clean.apply(lambda x: Point((x.startLongitude, 
                                                         x.startLatitude)), 
                                        axis=1)
may_trip_clean.head(3)

,Unnamed: 0,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,...,endLongitude,tripRoute,create_dt,start,end,totaltime,seconds,hours,minutes,geometry
0,0,2019-05-01 00:00:55.423000,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01 00:00:00.000000,00:00:20.460000,2019-05-01 00:00:00.000000,...,-86.80670,"36.157235,-86.803612,36.157235,-86.80362,36.15...",2019-05-02 05:30:23.780000,2019-05-01 00:00:20.460000,2019-05-01 00:02:52.346666,0 days 00:02:31.886666,151.886666,0,2.531444,POINT (-86.8036 36.1571)
1,1,2019-05-01 00:03:33.147000,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01 00:00:00.000000,00:01:50.090000,2019-05-01 00:00:00.000000,...,-86.77689,"36.15797,-86.77896,36.15795,-86.77873,36.15798...",2019-05-02 07:20:32.757000,2019-05-01 00:01:50.090000,2019-05-01 00:03:33.026666,0 days 00:01:42.936666,102.936666,0,1.715611,POINT (-86.77896 36.15797)
2,2,2019-05-01 00:05:55.570000,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01 00:00:00.000000,00:03:47.363333,2019-05-01 00:00:00.000000,...,-86.78680,"36.155068,-86.782124,36.156597,-86.78675",2019-05-02 05:30:24.530000,2019-05-01 00:03:47.363333,2019-05-01 00:07:13.596666,0 days 00:03:26.233333,206.233333,0,3.437222,POINT (-86.7818 36.1547)

In [14]:
may_trip_clean_geo = gpd.GeoDataFrame(may_trip_clean, 
                           crs = promise_zones.crs, 
                           geometry = may_trip_clean['geometry'])

In [15]:
may_trip_clean_pro_start = gpd.sjoin(may_trip_clean_geo, promise_zones, op = 'within')

In [16]:
may_trip_clean_pro_start.head()

,Unnamed: 0,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,...,totaltime,seconds,hours,minutes,geometry,index_right,OBJECTID,ZONE_ID,SHAPE_STAr,SHAPE_STLe
0,0,2019-05-01 00:00:55.423000,Bird,BRD2134,Powered9EAJL,3.000000,958.00528,2019-05-01 00:00:00.000000,00:00:20.460000,2019-05-01 00:00:00.000000,...,0 days 00:02:31.886666,151.886666,0,2.531444,POINT (-86.80360 36.15710),4,5,5,3.928178e+08,106661.712102
4,4,2019-05-01 00:05:55.570000,Bird,BRD2165,PoweredJ7MB3,2.000000,351.04988,2019-05-01 00:00:00.000000,00:04:27.796666,2019-05-01 00:00:00.000000,...,0 days 00:01:55.353334,115.353334,0,1.922556,POINT (-86.78660 36.17780),4,5,5,3.928178e+08,106661.712102
8,8,2019-05-01 00:10:56.013000,Bird,BRD2193,PoweredSX2AW,6.000000,2624.67200,2019-05-01 00:00:00.000000,00:06:34.436666,2019-05-01 00:00:00.000000,...,0 days 00:06:14.240000,374.240000,0,6.237333,POINT (-86.78930 36.17080),4,5,5,3.928178e+08,106661.712102
27,27,2019-05-01 00:15:55.977000,Bird,BRD2212,PoweredVGMWJ,10.000000,5249.34400,2019-05-01 00:00:00.000000,00:07:07.963333,2019-05-01 00:00:00.000000,...,0 days 00:09:50.800000,590.800000,0,9.846667,POINT (-86.78470 36.17650),4,5,5,3.928178e+08,106661.712102
48,48,2019-05-01 00:25:34,Lyft,LFT42,Powered906727,14.803383,2004.59324,2019-05-01 00:00:00.000000,00:10:45.676666,2019-05-01 00:00:00.000000,...,0 days 00:14:48.203334,888.203334,0,14.803389,POINT (-86.79429 36.17546),4,5,5,3.928178e+08,106661.712102

In [19]:
may_trip_clean_geo['sumdID'].value_counts

<bound method IndexOpsMixin.value_counts of 0                 Powered9EAJL
1                Powered296631
2                 Powered7S2UU
3                 PoweredZIIVX
4                 PoweredJ7MB3
                  ...
220382    Powered2OFHK7WJJGPSG
220383    PoweredJ6OI7QJIK4NO2
220384    PoweredQDVYGLDL6ZQDU
220385    PoweredH5HCTZB5WVABT
220386    PoweredFXC5KHVLI3T7C
Name: sumdID, Length: 220387, dtype: object>

In [28]:
may_grouped2 = may_trip_clean_geo.groupby("companyName")

may_grouped2 = may_grouped2.agg({"sumdID": "nunique"})

may_grouped2

               sumdID
companyName
Bird             2937
Bolt Mobility     341
Gotcha            105
JUMP                1
Lime             1576
Lyft             1359
SPIN              636

In [30]:
may_trip_clean_geo.groupby('companyName').size()

companyName
Bird              51236
Bolt Mobility      4847
Gotcha              650
JUMP                593
Lime             102569
Lyft              52036
SPIN               8456
dtype: int64

In [39]:
bird_efficiency = 51236/2937/31

bird_efficiency

0.5627423199007107

In [ ]:
may_trip_clean_geo_3 = may_trip_clean_geo[(may_trip_clean_geo[''] == 22)

In [41]:
may_trip_clean_geo['number_of_trips'] = if sum(may_trip_clean_geo['sumdid'] >= 3, 'efficient'

ValueError: Length of values (7) does not match length of index (220387)

In [42]:
may_trip_clean_geo['number_of_trips'] = np.where(sum(may_trip_clean_geo['sumdID']) >=3, may_trip_clean_geo['efficient'],\ 
        np.where(sum(may_trip_clean_geo['sumdID']) <3, may_trip_clean_geo['not_effecient'],\

SyntaxError: unexpected character after line continuation character (Temp/ipykernel_4188/1757116686.py, line 1)

In [ ]:
print("Count of students with physics marks greater than 11 is->",
      dataframe[dataframe['Physics'] > 11]['Name'].count())

In [44]:
value_counts = may_trip_clean_geo['sumdID'].value_counts()

value_counts

PoweredUNKNOWN                                 714
Poweredb671ffe4-2bca-5880-98ec-d36f65aa11a2    593
PoweredWVIAXNCVDNOXP                           338
PoweredR3QXO6TL2HIAB                           291
PoweredRJ7YYJTHAR5N3                           274
                                              ...
Powered8609556                                   1
PoweredIW4P9                                     1
PoweredT5FIG                                     1
PoweredGUJ17                                     1
PoweredPGY7IKLCK74X4                             1
Name: sumdID, Length: 6955, dtype: int64

In [45]:
print(value_counts[value_counts > 2].index[0])

PoweredUNKNOWN

In [47]:
may_trip_clean_geo['number_of_trips'] = if sum(may_trip_clean_geo['sumdid'].value_counts() >= 3, 'efficient')
                                            else may_trip_clean_geo['sumdid']

SyntaxError: invalid syntax (Temp/ipykernel_4188/82714934.py, line 1)

In [31]:
may_trip_clean_geo.shape

(220387, 24)

In [32]:
may_trip_clean_geo.nunique()

Unnamed: 0        220387
pubTimeStamp       88684
companyName            7
tripRecordNum      23062
sumdID              6955
tripDuration       59067
tripDistance       19814
startDate             31
startTime         152971
endDate               32
endTime           152605
startLatitude      47112
startLongitude     48022
endLatitude        48893
endLongitude       50564
tripRoute         193482
create_dt         220387
start             192086
end               190957
totaltime         100972
seconds           100972
hours                 24
minutes           100972
geometry          158939
dtype: int64

In [35]:
rides_per_scooter = 220387/6955

In [37]:
rides_per_scooter_per_day = rides_per_scooter/31

rides_per_scooter_per_day

1.0221794485285591

In [48]:
zipcodes = gpd.read_file('../data/zipcodes.geojson')
print(zipcodes.crs)
zipcodes.head()

epsg:4326

,zip,objectid,po_name,shape_stlength,shape_starea,geometry
0,37115,1,MADISON,178783.02488886821,596553400.57885742,"MULTIPOLYGON (((-86.68725 36.31821, -86.68722 ..."
1,37216,3,NASHVILLE,75820.997821400058,188884682.28344727,"MULTIPOLYGON (((-86.73451 36.23774, -86.73425 ..."
2,37204,9,NASHVILLE,93180.292250425613,200664795.51708984,"MULTIPOLYGON (((-86.77914 36.13424, -86.77923 ..."
3,37027,11,BRENTWOOD,159760.6942933173,174978422.04101562,"MULTIPOLYGON (((-86.81258 36.06319, -86.81263 ..."
4,37064,18,FRANKLIN,28995.828320601937,46969608.005737305,"MULTIPOLYGON (((-87.02197 36.01200, -87.02140 ..."