In [1]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import seaborn
from shapely.geometry import Point
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

%matplotlib inline

In [3]:
may_trip = pd.read_csv('../data/may_trip_adj.csv')

In [5]:
may_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156320 entries, 0 to 156319
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubTimeStamp    156320 non-null  object
 1   companyName     156320 non-null  object
 2   tripRecordNum   156320 non-null  object
 3   sumdID          156320 non-null  object
 4   tripDuration    156320 non-null  float64
 5   tripDistance    156320 non-null  float64
 6   startDate       156320 non-null  object
 7   startTime       156320 non-null  object
 8   endDate         156320 non-null  object
 9   endTime         156320 non-null  object
 10  startLatitude   156320 non-null  float64
 11  startLongitude  156320 non-null  float64
 12  endLatitude     156320 non-null  float64
 13  endLongitude    156320 non-null  float64
 14  tripRoute       156320 non-null  object
 15  create_dt       156320 non-null  object
 16  start           156320 non-null  object
 17  end             156320 non-null  object
 18  totaltime       156320 non-null  object
 19  seconds         156320 non-null  float64
 20  minutes         156320 non-null  float64
dtypes: float64(8), object(13)
memory usage: 25.0+ MB

In [6]:
june_trip = pd.read_csv('../data/june_trip_adj.csv')

In [7]:
july_trip = pd.read_csv('../data/july_trip_adj.csv')

In [8]:
may_trip.describe()

,tripDuration,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude,seconds,minutes
count,156320.000000,156320.000000,156320.000000,156320.000000,156320.000000,156320.000000,156320.000000,156320.000000
mean,22.524736,2336.396540,36.154780,-86.784007,36.155179,-86.784119,581.114500,9.685242
std,102.663723,2346.099949,0.013520,0.013331,0.019613,0.081653,359.525777,5.992096
min,1.000000,0.083756,36.044707,-86.918008,32.775953,-117.076117,60.000000,1.000000
25%,5.000000,389.229600,36.149850,-86.791213,36.150100,-86.791131,299.000000,4.983333
50%,8.366667,1321.308000,36.156700,-86.781473,36.156980,-86.781495,495.278333,8.254639
75%,13.633333,3887.748000,36.162592,-86.776290,36.162530,-86.776370,791.849999,13.197500
max,1643.000000,8759.840000,36.293024,-86.608901,39.768425,-77.021907,1651.600000,27.526667

In [13]:
scooters_avg_day = may_trip.sumdID.value_counts() / 31
scooters_avg_day.head()

Poweredb671ffe4-2bca-5880-98ec-d36f65aa11a2    13.967742
PoweredRJ7YYJTHAR5N3                            8.322581
PoweredEGRN7CFK6Q6K2                            7.935484
PoweredDJQATZBXPBUAE                            7.741935
PoweredWVIAXNCVDNOXP                            7.709677
Name: sumdID, dtype: float64

In [15]:
scooters_abv_avg = scooters_avg_day >= 3
scooters_abv_avg

Poweredb671ffe4-2bca-5880-98ec-d36f65aa11a2     True
PoweredRJ7YYJTHAR5N3                            True
PoweredEGRN7CFK6Q6K2                            True
PoweredDJQATZBXPBUAE                            True
PoweredWVIAXNCVDNOXP                            True
                                               ...
Powered221505                                  False
Powered6RTNK                                   False
Powered1PDIE                                   False
PoweredQJBYL                                   False
Powered3953202                                 False
Name: sumdID, Length: 6777, dtype: bool